/* .mouse-follower {
  position: fixed;
  width: 12px; 
  height: 12px; 
  background-color: var(--primary-color);
  border-radius: 2px;
  pointer-events: none;
  transform: translate(-60%, -60%); 
  z-index: 10000;
  transition: transform 1s ease-out, background-color 0.2s ease;
}

@media screen and (max-width: 768px) {
  .mouse-follower {
    display: none;
  }
} */