/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* global styles */
:root {
    --primary-color: #1439FB; /* Example primary color */
    --secondary-color: #FFFFFF; /* Example secondary color */
    --background-color: #000000; /* Example background color */
    --font-family: 'Montserrat', sans-serif;
  }
  
  body {
    font-family: var(--font-family) !important;
    background-color: var(--background-color) !important;
    color: var(--primary-color)!important;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }

  button{
    cursor: pointer;
  }

.text-light{
  color: var(--secondary-color) !important;
}

.btn-outline-primary{
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;

}

.btn-outline-primary:hover{
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border-color: var(--primary-color) !important;
}

